package page

import "gosl/internal/view/layout"

// Returns the about page content
templ About() {
	@layout.Global("About") {
		<div class="text-center max-w-150 m-auto">
			<div class="text-4xl mt-8">About</div>
			<div class="text-xl font-bold mt-4">what is gosl</div>
			<div class="text-lg mt-2">nothign here yet</div>
		</div>
	}
}
