package page

import "gosl/internal/view/layout"

// Page content for the index page
templ Index() {
	@layout.Global("GoSL") {
		<div class="text-center mt-24">
			<div class="text-4xl lg:text-6xl">GoSL</div>
			<div>WIP</div>
		</div>
	}
}
